<div class="mb-2"/>

<div class="container-fluid MO-EX-container">
    <div class="row MO-EX-row">
        <div class="col display-4 mb-2 MO-EX">Paw Places</div>
    </div>

    <div class="text-center MO-EX-bg">
        <div class="row MO-EX-row" ng-repeat="rows in chunkedData">
            <div class="col" ng-repeat="item in rows">
                <a ng-href="#/account/{{item[0]}}">
                <img class="rounded-circle MO-EX-circle z-depth-2" ng-src="{{item[1].bgpic}}" width="200" height="200">
                </a>
                    <p></p>
                <h5 class="MO-EX-dogname">{{item[1].dogname}}</h5>
                <h5 class="MO-EX-username">{{item[1].username}}</h5>
            </div>
        </div>
    </div>
</div>
