<div class="row MO-login-row">
    <div class="col-sm-12">
        <div class="container-fluid">

            <!--Paws In-->
            <div class="mb-3"/>
                <div class="row">
                    <div class="col display-4 mb-2 MO-PawsIn">Paws In</div>
                </div>

            <!--login form-->
            <div class="row MO-login-bg">
                <div class="col">

                    <div ng-controller="loginCtrl" class="col-sm-3 mx-auto" >
                        <div class="z-depth-4"></div>

                        <!--line-->
                        <hr class="style14">

                        <!--google and facebook btns-->
                        <div class="text-center">
                            <a href="" class="btn deep-orange darken-3  waves-effect waves-light"><i class="fa fa-google-plus left"></i> Google +</a>
                            <a href="" class="btn  light-blue darken-3  waves-effect waves-light"><i class="fa fa-facebook left"></i> Facebook</a>
                        </div>

                        <!--line-->
                        <hr class="style14">

                        <form>
                            <!--email-->
                            <div class="md-form">
                                <i class="fa fa-envelope prefix black-text"></i>
                                <input type="email" id="your-email" class="form-control validate" ng-model="email">
                                <label for="your-email" data-error="invalid" data-success="good" class="MO-form-fonts" >Your email</label>
                            </div>
                            <!--password-->
                            <div class="md-form">
                                <i class="fa fa-lock prefix black-text"></i>
                                <!--not validated-->
                                <input type="password" id="password" class="form-control" ng-model="password" ng-focus="focused = true" ng-blur="focused = false" ng-class="{valid: isValid()}">
                                <label for="password" data-error="invalid" data-success="good" class="MO-form-fonts" >Your password</label>
                            </div>

                            <!--collapse form-->
                                <div class="collapse" id="collapseSignup">
                                    <!--validate password-->
                                    <div class="md-form">
                                        <i class="fa fa-check prefix black-text"></i>
                                        <input type="password" id="valid-pass" class="form-control validate" ng-model="verifyPassword">
                                        <label for="valid-pass" data-error="wrong" data-success="right" class="MO-form-fonts" >Verify password</label>
                                    </div>
                                    <!--name-->
                                    <div class="md-form">
                                        <i class="fa fa-user prefix black-text"></i>
                                        <input type="text" id="your-name" class="form-control">
                                        <label for="your-name" class="MO-form-fonts" ng-model="name">Your name</label>
                                    </div>
                                    <!--dog name-->
                                    <div class="md-form">
                                        <i class="fa fa-paw prefix black-text"></i>
                                        <input type="text" id="pets-name" class="form-control">
                                        <label for="pets-name" class="MO-form-fonts" ng-model="dogName">Your pets name</label>
                                    </div>
                                </div>
                            <!--end collapse form-->

                            <!--signIn or createUser btn-->
                            <div class="text-center mb-1">
                                <button type="button" class="btn btn-block mo-btn-color waves-effect waves-light" ng-click="createUserOrLogIn()">{{buttonText}}</button>
                            </div>

                            <hr class="style14">

                            <!--collapse form btn-->
                            <div class="text-center">
                                <div><a data-toggle="collapse" data-target="#collapseSignup" aria-expanded="false" aria-controls="collapseSignup" ng-click="signUp()">new here?</a></div>
                            </div>

                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<link rel="stylesheet" href="/css/login.css"/>