
/*make dynamic*/
.MO-actBG {
  background: url("/madisonpics/dogs.jpg") center;
  background-size: contain;
  height: 100vh;
}

.MO-actText {
  font-family: 'Kanit', sans-serif;
  color: white;
  position: absolute;
  top: 10%;
  left: 3%;
  right: auto;
  width: 96.66666666666666%;
}

.MO-actTextSpacing {
  font-size: 15vw;
  letter-spacing: -0.05em;
  margin-bottom: 0px;
}

/*
font-family: 'Kanit', sans-serif;
font-family: 'Cinzel', serif;
font-family: 'Paytone One', sans-serif;
font-family: 'Luckiest Guy', cursive;
*/

.MO-actText2 {
  font-family: 'Chewy', cursive;
  color: hotpink;
}

.MO-actForm {
    position: absolute;
    bottom: 10%;
    left: 20%;
    right: 20%;


}

.MO-edit-btn {
  z-index: 100;
  position: absolute;
  top: 0%;
  left: 0%;
  background-color: white;
  background: rgba(255,255,255,0.7);
  color: rgba(0, 0, 0,0.7) !important;
      padding-left: 10px;
      padding-right: 10px;
      padding-bottom: 10px;
      padding-top: 10px;
}

.MO-act-btn {
  z-index: 100;
  position: absolute;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
  padding-top: 10px;
  bottom: 0%
}