
/*background*/
.MO-actBG {
  background: url("/madisonpics/dogs.jpg") center;
  background-size: contain;
  height: 100vh;
}

/*dog name text*/
.MO-actText {
  font-family: 'Kanit', sans-serif;
  color: white;
  position: absolute;
  top: 1%;
  left: 3%;
  right: auto;
  width: 96.66666666666666%;
}

/*spacing text*/
.MO-actTextSpacing {
  font-size: 15vw;
  letter-spacing: -0.05em;
  margin-bottom: 0px;
}

/*
font-family: 'Kanit', sans-serif;
font-family: 'Cinzel', serif;
font-family: 'Paytone One', sans-serif;
font-family: 'Luckiest Guy', cursive;
*/

/*quote text*/
.MO-actText2 {
  color: hotpink;
}

/*more info form*/
.MO-actForm {
  position: absolute;
  bottom: 10%;
  left: 20%;
  right: 20%;
  margin-bottom: 0px;
  font-family: 'Quicksand', sans-serif;
}

/*more info button*/
.MO-actFormCol {
  margin-bottom: 0px;
}

/* edit form buttons*/
.MO-edit-btn {
  z-index: 100;
  position: absolute;
  top: 0%;
  left: 0%;
}

.MO-edit-btn-pad {
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 20px;
  padding-right:20px;
}

/*more info button*/
.MO-act-btn {
  z-index: 100;
  position: absolute;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
  padding-top: 10px;
  bottom: 1%;
  margin-left: 0px;
  margin-right: 0px;
  color: black;
  display: block;
}

/*gender, age area*/
.MO-actAboutDog {
  padding-left: 5%;
  padding-right: 5%;
}


/*editable text input*/
.editable-input[type=text] {
  border-bottom: none !important;
  background-color: rgba(242, 243, 244,0.8) !important;
  width: 30% !important;
}

/*editable textarea*/
textarea {
background-color: rgba(242, 243, 244,0.8) !important;
}

hr.style14 {
  border: 0;
  height: 1px;
  background-image: -webkit-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
  background-image: -moz-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
  background-image: -ms-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
  background-image: -o-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
}


