
/*background*/
.MO-actBG {
  background: center fixed;
  background-size: cover;
  height: 100vh;
}

/*dog name text*/
.MO-actText {
  font-family: 'Kanit', sans-serif;
  position: absolute;
  top: 1%;
  left: 3%;
  right: auto;
  width: 96.66666666666666%;
  text-shadow: 0px 4px 3px rgba(0,0,0,0.4),
               0px 8px 13px rgba(0,0,0,0.1),
               0px 18px 23px rgba(0,0,0,0.1);;
}

/*dog name exist heading*/
.MO-dogNameExist {
  font-family: 'Quicksand';
  position: absolute;
  top: 30%;
  width: 100%;
}

/*dog name exist input*/
.MO-dogNameExistInput {
  text-align: center;
  font-family: 'Chewy';
}
input.MO-dogNameExistInput:focus {
  width: 700px;
  text-align: center;
  border-bottom-color: hotpink !important;
  box-shadow: 0 1px 0 hotpink !important;
  font-family: 'Chewy';
}

/*spacing text*/
.MO-actTextSpacing {
  font-size: 15vw;
  letter-spacing: -0.03em;
  margin-bottom: 0px;
}

/*quote text*/
.MO-actText2 {
  color: hotpink;
}

/*more info form*/
.MO-actForm {
  position: absolute;
  bottom: 10%;
  left: 25%;
  right: 25%;
  margin-bottom: 0px;
  font-family: 'Quicksand', sans-serif;
}

/*more info button*/
.MO-actFormCol {
  margin-bottom: 0px;
}

/* edit form buttons*/
.MO-edit-btn {
  z-index: 100;
  position: absolute;
  top: 0%;
  left: 0%;
}
.MO-edit-btn-pad {
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 20px;
  padding-right:20px;
}

/*more info button*/
.MO-act-btn {
  z-index: 100;
  position: absolute;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
  padding-top: 10px;
  bottom: 1%;
  margin-left: 0px;
  margin-right: 0px;
  color: black;
  display: block;
}

/*gender, age area*/
.MO-actAboutDog {
  padding-left: 5%;
  padding-right: 5%;
}


/*editable text input*/
.editable-input[type=text] {
  border-bottom: none !important;
  background-color: rgba(242, 243, 244,0.8) !important;
  width: 30% !important;
}

/*editable textarea*/
textarea {
background-color: rgba(242, 243, 244,0.8) !important;
}

/*line*/
hr.style14 {
  border: 0;
  height: 1px;
  background-image: -webkit-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
  background-image: -moz-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
  background-image: -ms-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
  background-image: -o-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
}


.MO-STITCH {
  position: absolute !important;
  right: 3% !important;
  left: 10%;
  z-index: 100;
  top: 0%;
  font-family: 'Kanit', sans-serif;
  font-size: 150%;
}
/*paw place at top*/
.MO-PawPlace {
  z-index: 100;
  position: absolute;
  top: 0%;
  left: 40%;
  right: 40%;
  background-color: rgba(46, 46, 46, 0.8);
  font-size: 18px;
  border-radius: 2px;
  color: white;
  font-family: 'Kanit', sans-serif;
}
