/*title*/
.MO-DB {
  color: dark-grey;
  background: white;
  font-family: 'Raleway', sans-serif;
  text-align: center;
  font-weight: bold;
      margin-right: 0px;
      margin-left: 0px;
  }

/*background color*/
.MO-DB-bg {
  background-color: #f3f2ed;
  padding-top: 10px;
  height: 42vh;
  text-align: center;
  margin-right: 0px;
  margin-left: 0px;
}

/*row*/
.MO-DB-row {
  margin-right: 0px;
  margin-left: 0px;
}
