/* home page font*/
.MO-home {
  font-family: 'Raleway', sans-serif;
  color: white;
  position: absolute;
  top: 35%;
  left: 1.8%;
  right: auto;
  width: 96.66666666666666%;
}

/*brand*/
.MO-home-brand {
  position: absolute;
  top: 90%;
  font-family: 'Saira Extra Condensed', sans-serif;
  color: white;
}

/*button forks*/
.MO-home-btn {
  border-radius: 1000px;
  width: 200px;
  background-color: white;
  background: rgba(255,255,255,0.7);
  color: rgba(0, 0, 0,0.7) !important;
  font-weight: bold;
  font-size: 17px;
  font-family: '', sans-serif;
  padding-left: 0px;
  padding-right: 0px;
  padding-top: 10px;
  padding-bottom: 10px;
}

/*login button*/
.MO-home-btn-login {
  border-radius: 1000px;
  width: 75px;
  background-color: white;
  background: rgba(255,255,255,0.3);
  color: rgba(0, 0, 0,0.7) !important;
  font-weight: bold;
  font-size: 13px;
  font-family: '', sans-serif;
  padding-left: 0px;
  padding-right: 0px;
  padding-top: 7px;
  padding-bottom: 7px;
}

/*tiny font*/
.MO-home-tiny {
  color: white;
  font-weight: bold;
}

/*slide1*/
.MO-picture1 {
      background: url("/madisonpics/slide1.png")center fixed;
      background-size: cover;
      height: 100vh;
}
/*slide*/
.MO-picture2 {
    background: url("/madisonpics/slide2.jpeg")center fixed;
    background-size: cover;
    height: 100vh;
}
/*slide3*/
.MO-picture3 {
    background: url("/madisonpics/slide3.jpeg")center fixed;
    background-size: cover;
    height: 100vh;
}
/*slide4*/
.MO-picture4 {
  background: url("/madisonpics/slide4.jpeg") center fixed;
  background-size: cover;
  height: 100vh;
}
/*slide5*/
.MO-picture5 {
  background: url("/madisonpics/slide5.jpeg") center fixed;
  background-size: cover;
  height: 100vh;
}

/*hover effects for "retry"*/
.MO-NObtn .comment { display: none; }
.MO-NObtn:hover .replies { display: none; }
.MO-NObtn:hover .comment { display: inline; }