.mo-brand {
font-family: 'Chewy', cursive;
}

.mo-button-font {
  font-family: 'Quicksand', sans-serif;
  font-size: 18px !important;
  height: 35px;
  margin-top: 15px;
}

.mo-footer-brand{
  background-color: #212121;
  text-align: center;
}

.mo-footer-mid {
  background-color:#3d3d42;
  text-align: center;
  padding-top: 50px;
  padding-bottom: 50px;
  font-family: 'Quicksand', sans-serif;
}

.mo-footer-links {
  background-color: #212121;
  font-family: 'Quicksand', sans-serif;
  text-align: center;
  padding-top: 5px;
}

.mo-footer-bottom {
  padding-top: 30px;
  background-color: #212121;
  font-family: 'Quicksand', sans-serif;
  text-align: center;
    height: 100px;
}

.mo-footer-btn {
  background-color: #1a1a1a;

}

/* MADE THE FOOTER WORK ORIGINALLY
* {
    margin: 0;
}
html, body {
    height: 100%;
}
.wrapper {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: 0 auto -155px; the bottom margin is the negative value of the footer's height
}
.footer, .push {
    height: 155px;  .push must be the same height as .footer
}
*/
