/* SIGNUP */
.mo-welcome {
  color: dark-grey;
  background: white;
  padding-top: 15px;
  padding-bottom: 15px;
}

.mo-form-text{
  font-weight: normal;
  color: white;
}

.mo-box {
  position: absolute;
  top: -10px;
  bottom: -10px;
  right: 0;
  left: 0;
  background: linear-gradient(to bottom, rgba(146, 135, 187, .85) 0%, rgba(0, 0, 0, .9) 100%);
}



.mo-picture1 {
      background: url("https://images.pexels.com/photos/171297/pexels-photo-171297.jpeg?w=1260&h=750&auto=compress&cs=tinysrgb")center fixed;
      background-size: cover;
      height: 100vh;
}

.mo-picture2 {
    background: url("https://images.pexels.com/photos/5286/walking-garden-dog-outside.jpg?w=1260&h=750&auto=compress&cs=tinysrgbgithub")center fixed;
    background-size: cover;
    height: 100vh;
}

.mo-picture3 {
    background: url("https://images.pexels.com/photos/313104/pexels-photo-313104.jpeg?w=1260&h=750&auto=compress&cs=tinysrgb")center fixed;
    background-size: cover;
    height: 100vh;
}

.HELLO {
  top: 10vh;
}

.background {
  background-color: #f3f2ed;
}